<h2>{{title}}</h2>

<div class="col-md-9 col-xs-12 col-sm-12">
    {% for heading,faqs in faqsByHeader %}
	    <h1 id="{{headerIDs[heading]}}">{{heading}}</h1>
	    {% for faq in faqs %}
		    {% autoescape false %}
		    {% include 'faq_item.html' %}
		    {% endautoescape %}
	    {% else %}
		    No faq items found.
	    {% endfor %}
    {% endfor %}
</div>
<div class="col-md-3 hidden-xs hidden-sm">
	<nav id="sidenavbar" data-spy="affix" data-offset-top="400">
		<ul class="nav nav-pills nav-stacked">
	    {% for heading,headerID in headerIDs %}
	    	<li><a href="#{{headerID}}">{{heading}}</a></li>
	    {% endfor %}
	    </ul>
   	</nav>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("body").scrollspy({target: "#sidenavbar"}) 
});
$("#sidenavbar").attr('data-offset-top',$("#sidenavbar").offset().top-20);
</script>